.accordion figcaption {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: rgba(0,0,0,0.7);
  border-radius: 4px;
  bottom: 20px;
  color: #fff;
  padding: 10px 15px;
  position: absolute;
  right: 30px;
  z-index: 3;
}
.accordion .slide figure {
  margin: 0;
}
.colorful .slide > h2 {
  color: #fff;
  line-height: 225%;
  margin-left: -5px !important;
}
.colorful .slide > h2 span {
  font-size: 22px;
  margin-top: 0;
  padding-top: 5px;
}

.colorful .slide:nth-child(1) > h2 span,
.colorful.slide:nth-child(1) > h2:after {
  background-color: #91b1c0;
}

.colorful .slide:nth-child(2) > h2 span,
.colorful.slide:nth-child(2) > h2:after {
  background-color: #b6778a;
}

.colorful .slide:nth-child(3) > h2 span,
.colorful.slide:nth-child(3) > h2:after {
  background-color: #7a5662;
}

.colorful .slide:nth-child(4) > h2 span,
.colorful.slide:nth-child(4) > h2:after {
  background-color: #9a4143;
}

.colorful .slide:nth-child(5) > h2 span,
.colorful.slide:nth-child(5) > h2:after {
  background-color: #f8ab51;
}

.colorful .slide:nth-child(6) > h2 span,
.colorful.slide:nth-child(6) > h2:after {
  background-color: #a37c2f;
}

.colorful .slide:nth-child(7) > h2 span,
.colorful.slide:nth-child(7) > h2:after {
  background-color: #c1be49;
}

.colorful .slide:nth-child(8) > h2 span,
.colorful.slide:nth-child(8) > h2:after {
  background-color: #335463;
}

.colorful .slide:nth-child(8) > h2 span,
.colorful.slide:nth-child(9) > h2:after {
  background-color: #db6e1c;
}
